<section style="position: relative;">
    <div class="container-fluid">
        <div class="layered-image">
            <div class="text">
                <h1 class="" style="text-align: left;">Warehousing Services</h1>
                <div class="summary container">
                    <h5 class="inden">World Wide has privately owned warehouses and may additionally utilise partner warehouses
                        around the United States and Canada. World Wide is capable of helping with long and short-term storage,
                        Transloading, packing and unpacking, Crating & Un crating, Palletization, Automobile handling, Oversized
                        cargo handling, Crane services, LCL and air consolidation, hazmat handling, Reefer Storage, and project
                        cargo.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    

    <br>
    <div class="">
        <img class="img" src="assets/images/WarehouseChart.jpeg" alt="">
    </div>
    <br>
</section>