<section style="position: relative;">

    <div class="container-fluid">
        <div class="layered-image">
            <div class="text">
                <h1 class="">Ocean Cargo Service</h1>
                <h5 style="font-size: 12pt;">
                    World Wide Ocean and Air Shipping Lines Inc has been an NVOCC for more than 30+ years and has
                    contracts with all major steamship lines. Whether you need to ship whole container loads,
                    refrigerated cargo, consolidations, out-of-gauge freight, bulk, break-bulk, or drivable goods, World
                    Wide Ocean and Air Shipping Lines Inc will come up with a solution that meets your exact needs. We
                    will make an effort to find you the most competitive rates with shorter Transit and ensure your
                    cargo arrives promptly and securely across the world. World Wide Ocean and Air Shipping Lines Inc is
                    an active member of international networks of approved forwarders in more than 133 countries, you
                    can rest confident that your goods will be handled by professional and skilled Logistician.
                </h5>
            </div>
        </div>

    </div>
</section>

<!-- <body>
    <div class="container">
      <div class="image">
        <img src="https://i.pinimg.com/564x/59/32/29/593229739184504afd9507cc42a9cb86.jpg">
      </div>
      <div class="text">
        <h1>This is a beautiful picture.</h1>
      </div>
    </div>
  </body> -->