<section style="position: relative;">

    <div class="container-fluid">
        <div class="layered-image">
            <div class="text">
                <h1 class="" style="text-align: left;">Contact Us</h1>
            </div>
        </div>
    </div>
    <br>
    <div>
        <h3>
            Office & Warehouse Locations
        </h3>
        <h5 class="summary">To be the Best preferred service provider of Freight forwarding in the Global
            Market.</h5>
    </div>
    <br>

    <div class="container-fluid locCard">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 19.5rem;">
                    <div class="card-body special-card">
                        <h5 class="" style="padding-top: 5px;">Oakland</h5>
                        <hr>
                        <p href="https://maps.app.goo.gl/LAULFZRVMaPBzqNLA">
                            <i class="fas fa-home mr-3 h8"></i> Catalina Street, San Leandro CA, 94577</p>
                        <p><i class="fas fa-envelope mr-1"></i> enquiries&#64;worldwide4shipping.com</p>
                        <p><i class="fas fa-phone mr-3"></i> 1-800-327-5252 / +1 516-226-2083</p>
                        <p><i class="fas fa-print mr-3"></i> +1 (516)-626-3421</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 19.5rem;">
                    <div class="card-body special-card">
                        <h5 class="" style="padding-top: 5px;">Los Angeles</h5>
                        <hr>
                        <p href="https://maps.app.goo.gl/LAULFZRVMaPBzqNLA">
                            <i class="fas fa-home mr-3 h8"></i> Sutter Ave Pacoima, CA  91331</p>
                        <p><i class="fas fa-envelope mr-1"></i> enquiries&#64;worldwide4shipping.com</p>
                        <p><i class="fas fa-phone mr-3"></i> 1-800-327-5252 / +1 516-226-2083</p>
                        <p><i class="fas fa-print mr-3"></i> +1 (516)-626-3421</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 19.5rem;;">
                    <div class="card-body special-card">
                        <h5 class="card-title" style="padding-top: 5px;">Houston</h5>
                        <hr>
                        <p href="https://maps.app.goo.gl/LAULFZRVMaPBzqNLA">
                            <i class="fas fa-home mr-3 h8"></i> Underwood Rd, Pasadena, TX 77507</p>
                        <p><i class="fas fa-envelope mr-1"></i> enquiries&#64;worldwide4shipping.com</p>
                        <p><i class="fas fa-phone mr-3"></i> 1-800-327-5252 / +1 516-226-2083</p>
                        <p><i class="fas fa-print mr-3"></i> +1 (516)-626-3421</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 19.5rem;;">
                    <div class="card-body special-card">
                        <h5 class="card-title" style="padding-top: 5px;">Chicago</h5>
                        <hr>
                        <p href="https://maps.app.goo.gl/LAULFZRVMaPBzqNLA">
                            <i class="fas fa-home mr-3 h8"></i>Menard Ave Chicago Ridge, 60415, IL</p>
                        <p><i class="fas fa-envelope mr-1"></i> enquiries&#64;worldwide4shipping.com</p>
                        <p><i class="fas fa-phone mr-3"></i> 1-800-327-5252 / +1 516-226-2083</p>
                        <p><i class="fas fa-print mr-3"></i> +1 (516)-626-3421</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 19.5rem;;">
                    <div class="card-body special-card">
                        <h5 class="card-title" style="padding-top: 5px;">Norfolk</h5>
                        <hr>
                        <p href="https://maps.app.goo.gl/LAULFZRVMaPBzqNLA" style="font-size: 11pt;">
                            <i class="fas fa-home mr-3 h8"></i> Luminary Dr Williamsburg, VA 23188 USA</p>
                        <p><i class="fas fa-envelope mr-1"></i> enquiries&#64;worldwide4shipping.com</p>
                        <p><i class="fas fa-phone mr-3"></i> 1-800-327-5252 / +1 516-226-2083</p>
                        <p><i class="fas fa-print mr-3"></i> +1 (516)-626-3421</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 19.5rem;;">
                    <div class="card-body special-card">
                        <h5 class="card-title" style="padding-top: 5px;">Newyork</h5>
                        <hr>
                        <p href="https://maps.app.goo.gl/LAULFZRVMaPBzqNLA" style="font-size: 11pt;">
                            <i class="fas fa-home mr-3 h8"></i>  84 Madison AVE Roslyn Heights NY 11577</p>
                        <p><i class="fas fa-envelope mr-1"></i> enquiries&#64;worldwide4shipping.com</p>
                        <p><i class="fas fa-phone mr-3"></i> 1-800-327-5252 / +1 516-226-2083</p>
                        <p><i class="fas fa-print mr-3"></i> +1 (516)-626-3421</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>