<section class="" style="position: relative;">
    <div class="container-fluid">
        <div class="layered-image">
            <!-- <img class="" src="assets/images/30-plus-years-logo.png" alt=""> -->
            <div class="text">
                <h1 class="" style="text-align: left;">About Us</h1>
                <h5 class="summary container-fluid">Since 1993 Worldwide Ocean & Air Shipping Lines is a freight forwarder and non-vessel
                    operating common carrier (NVOCC). We were able to offer solutions to all of your logistical concerns
                    thanks to the expertise of our logistics professionals. World Wide Can be Described as (ONE STOP
                    SOLUTION FOR ALL YOUR LOGISTICAL PROBLEMS). We manage international and domestic transportation by air,
                    sea, or land. We are Freight Forwarding Network, NVOCC, OTI, Cargo Consolidator, Custom Broker, Trucker,
                    Warehouse Operator, Carrier, and Shipping Agents.</h5>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="">
                <h3 class="fs-5 mb-2 text-uppercase">Mission</h3>
                <h5 class="summary">To be the Best preferred service provider of Freight forwarding in the Global
                    Market.</h5>
                <div class="pntindent">
                    <ul>
                        <li>Preserve the trust, integrity and accountability in our services.</li>
                        <li>Value our Customer by Solving their logistical requirements.</li>
                        <li>Maintain financial stability and enhance the stakeholder value.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="">
                <h3 class="fs-5 mb-2 text-uppercase">Vission</h3>
                <h5 class="summary">To be the Best preferred service provider of Freight forwarding in the Global
                    Market.</h5>
                <div class="pntindent">
                    <ul>
                        <li>To create innovative and lasting partnership with the customers by providing continual
                            improvements in the systems and services.</li>
                        <li>To serve customers, by providing creative, cost effective, technology enabled solutions &
                            services which will meet and exceed customer expectations.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>