<!-- Navbar 1 - Bootstrap Brain Component -->
<nav class="navbar navbar-expand-md bg-light bsb-navbar bsb-navbar-hover bsb-navbar-caret fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img src="assets/images/logo.png" alt="World Wide Shipping" height="60">
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-bs-toggle="dropdown"
              onclick="dropdown-toggle" aria-expanded="false">Services</a>
            <ul class="dropdown-menu border-0 shadow bsb-zoomIn z-in" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" routerLink="/AirCargo">Air Cargo</a></li>
              <li><a class="dropdown-item" routerLink="/OceanCargo">Ocean Cargo</a></li>
              <li><a class="dropdown-item" routerLink="/Transportation">Transportation</a></li>
              <li><a class="dropdown-item" routerLink="/Warehousing">Warehousing</a></li>
              <li><a class="dropdown-item" routerLink="/Customs">Customs Brokerage</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Resources</a>
            <ul class="dropdown-menu border-0 shadow bsb-zoomIn z-in" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" routerLink="/ContainerNotes">Container Specifications</a></li>
              <!-- <li><a class="dropdown-item" routerLink="/Documents">Forms and documents</a></li> -->
              <li><a class="dropdown-item" routerLink="/IncoTerms">Inco Terms</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/AboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ContactUs">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<button class="flotform" data-bs-toggle="modal" data-bs-target="#exampleModal">
  CBM Calculator
</button>


<!-- Vertically centered scrollable modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CBM Calculator</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeCbm()"></button>
      </div>
      <div class="modal-body text-center">
        <!-- <p-inputGroup>
          <mat-radio-button *ngFor="let option of Unit;" [value]="option.Name" [(ngModel)]="selectedUnit">
            {{ option.Name }}
          </mat-radio-button>
      </p-inputGroup> -->
        <p-inputGroup>Select Unit
          <p-dropdown class="modal-title" id="unit" [options]="Unit" [(ngModel)]="selectedUnit"
          optionLabel="Name" [editable]="true"  placeholder="Select Unit">Select Unit</p-dropdown>
        </p-inputGroup>
        <br>
        <p-inputGroup><label style="padding-right: 40px;">Length</label>
          <p-inputNumber inputId="integeronly" [(ngModel)]="length"> </p-inputNumber>
        </p-inputGroup>
        <br>
        <p-inputGroup><label style="padding-right: 45px;">Width</label>
          <p-inputNumber inputId="integeronly" [(ngModel)]="width"> </p-inputNumber>
        </p-inputGroup>
        <br>
        <p-inputGroup><label style="padding-right: 40px;">Height</label>
          <p-inputNumber inputId="integeronly" [(ngModel)]="height"> </p-inputNumber>
        </p-inputGroup>
        <br>
        <p-inputGroup><label style="padding-right: 10px;">CMB Value</label>
          <p-inputNumber inputId="integeronly" [(ngModel)]="cbm" [readonly]="true"> </p-inputNumber>
        </p-inputGroup>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeCbm()">Close</button>
        <button type="button" class="btn btn-primary" (click)="calculateCBM()">Calculate</button>
      </div>
    </div>
  </div>
</div>