<section class="" style="position: relative;">
    <div class="container-fluid">
        <div class="imgcontainer">
            <!-- <img class="layered-image" src="assets/images/OceanWp.webp" alt=""> -->
            <h3 class="fs-4 mb-2 text-uppercase text-center">Inco Terms</h3>
            <h5 class="summary">Incoterm refers to a group of standardized trade terms with 3 letter acronyms commonly
                used in international contracts of sale of goods. They are used to divide the costs of international
                business transactions, defining responsibilities between buyer and seller, and reflect current practice
                in international freight.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">EXW – Ex Works (named place of delivery)</h3>
            <h5 class="summary">The seller makes the goods available at its premises. The buyer is responsible for
                unloading. This term places the maximum obligation on the buyer and minimum obligations on the seller.
                The Ex Works term is often used when making an initial quotation for the sale of goods without any costs
                included. EXW means that a seller has the goods ready for collection at his premises (works, factory,
                warehouse, plant) on the date agreed upon. The buyer pays all transportation costs and also bears the
                risks for bringing the goods to their final destination. The seller doesn’t load the goods on collecting
                vehicles and doesn’t clear them for export. If the seller does load the good, he does so at buyer’s risk
                and cost. If parties wish seller to be responsible for the loading of the goods on departure and to bear
                the risk and all costs of such loading, this must be made clear by adding explicit wording to this
                effect in the contract of sale.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">FCA – Free Carrier (named place of delivery)</h3>
            <h5 class="summary">The seller hands over the goods, cleared for export, into the disposal of the first
                carrier (named by the buyer) at the named place. The buyer pays for carriage to the named point of
                delivery, and risk passes when the goods are handed over to the first carrier.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">CPT – Carriage Paid To (named place of destination)</h3>
            <h5 class="summary">The seller pays for the carriage. Risk transfers to the buyer upon the handing of the
                goods over to the first carrier at the place of import.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">CIP – Carriage and Insurance Paid to (named place of destination)</h3>
            <h5 class="summary">The containerized transport/multimodal equivalent of CIF. The seller pays for carriage
                and insurance to the named destination point, but risk passes when the goods are handed over to the
                first carrier.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">DAT – Delivered at Terminal (named terminal at port or place of
                destination)</h3>
            <h5 class="summary">The seller pays for the carriage to the terminal, except for costs related to import
                clearance, and assumes all risks up to the point that the goods are unloaded at the terminal.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">DAP – Delivered at Place (named place of destination)</h3>
            <h5 class="summary">The seller pays for the carriage to the named place, except for costs related to import
                clearance, and assumes all risks prior to the point that the goods are ready for unloading by the buyer.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">DDP – Delivered Duty Paid (named place of destination)</h3>
            <h5 class="summary">The seller is responsible for delivering the goods to the named place in the country of
                the buyer and pays all costs in bringing the goods to the destination including import duties and taxes.
                The buyer is responsible for unloading. This term is often used in place of the non-Incoterm “Free In
                Store (FIS)”. This term places the maximum obligations on the seller and minimum obligations on the
                buyer.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">FAS – Free Alongside Ship (named port of shipment)</h3>
            <h5 class="summary">The seller must place the goods alongside the ship at the named port. The seller must
                clear the goods for export. Suitable only for maritime transport but not for multimodal sea transport in
                containers. This term is typically used for heavy-lift or bulk cargo.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">FOB – Free on Board (named port of shipment)</h3>
            <h5 class="summary">The seller must load the goods on board the vessel nominated by the buyer. Cost and risk
                are divided when the goods are actually on board of the vessel (this rule is new!). The seller must
                clear the goods for export. The term is applicable for maritime and inland waterway transport only, but
                not for multimodal sea transport in containers. The buyer must instruct the seller the details of the
                vessel and the port where the goods are to be loaded. Provided there is no reference to, or provision
                for, the use of a carrier or forwarder.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">Cost and Freight (named port of destination)</h3>
            <h5 class="summary">The seller must pay the costs and freight to bring the goods to the port of destination.
                However, risk is transferred to the buyer once the goods are loaded on the vessel. Insurance for the
                goods is not included. This term is formerly known as CNF (C&F). Maritime transport only.
            </h5>
            <br>
            <h3 class="fs-5 mb-2 text-uppercase">CIF – Cost, Insurance and Freight (named port of destination)</h3>
            <h5 class="summary">Exactly the same as CFR except that the seller must in addition procure and pay for the
                insurance. Maritime transport only.
            </h5>
        </div>
    </div>
</section>