.container-fluid{
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
.summary{
    font-size: medium;
    align-content: stretch;
    font-weight: 450;
    text-indent: 50px;
}
section{
    padding-bottom: 60px;
}
.pntindent{
    padding-left: 40px;
}
.imgbox {
    /* display: grid; */
    margin-top: 0%;
    height: 100%;
    width: fit-content;
  }
  .center-fit {
    max-width: 100%;
    max-height: 100vh;
    /* margin: auto; */
  }

  h3{
    color: rgba(45, 47, 173, 0.918);
  }

.imgcontainer {
    background-image: "assets/images/Home/FreightHome.jpg";
    background-size: cover;
    position: relative;
    width: 100%;
    height: max-content;
    padding-top: 1.00%;
    display: flex;
    flex-direction: column;
  }