<section style="position: relative;">
    <div class="container-fluid">
        <div class="imgcontainer">
            <!-- <img class="layered-image" src="assets/images/OceanWp.webp" alt=""> -->
            <h3 class="fs-4 mb-2 text-uppercase text-center">Container Specifications</h3>
            <p class="indent">Containers vary in dimension, weight and design features. Here you will find an overview
                of the different types of containers to help you identify the right container for your goods.</p>

            <p><strong>Notes -&nbsp; <br></strong> &nbsp;Exact dimensions can differ slightly due to manufacturer, and
                load regulations may restrict
                operation to less than maximum weight. Use this information as a guide only.</p>

            <table cellpadding="1" cellspacing="1" style="width:1000px;">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Container Type</th>
                        <th scope="col">Internal Dimensions<br>
                            (L x W x H)</th>
                        <th scope="col">Door Opening<br>
                            (W x H)</th>
                        <th scope="col">Cubic Capacity</th>
                        <th scope="col">Cargo Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="text-align: center;"><img alt="" src="assets/images/Container/20ft.jpg">
                        </td>
                        <td style="text-align: center;">20FT General</td>
                        <td style="text-align: center;">5.89 x 2.35 x 2.36m</td>
                        <td style="text-align: center;">2.33 x 2.26m</td>
                        <td style="text-align: center;">33m³</td>
                        <td style="text-align: center;">21,700kgs</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">20FT High Cube</td>
                        <td style="text-align: center;">5.89 x 2.35 x 2.69m</td>
                        <td style="text-align: center;">2.33 x 2.59m</td>
                        <td style="text-align: center;">37m³</td>
                        <td style="text-align: center;">21,700kgs</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="text-align: center;"><img alt="" src="assets/images/Container/20ft.jpg">
                        </td>
                        <td style="text-align: center;">40FT General</td>
                        <td style="text-align: center;">12.05 x 2.35 x 2.36m</td>
                        <td style="text-align: center;">2.33 x 2.26m</td>
                        <td style="text-align: center;">66m³</td>
                        <td style="text-align: center;">26500kgs</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">40FT High Cube</td>
                        <td style="text-align: center;">12.05 x 2.35 x 2.69m</td>
                        <td style="text-align: center;">2.33 x 2.59m</td>
                        <td style="text-align: center;">76m³</td>
                        <td style="text-align: center;">26500kgs</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p><strong>Notes -&nbsp;</strong></p>

            <ul>
                <li>Heavy Rated shipping containers which support a heavier load are available, additional surcharges
                    may apply</li>
                <li>Food Grade shipping containers for carrying foodstuffs are available, additional surcharges may
                    apply</li>
                <li>A 20FT High Cube shipping containers (higher height that standard) are only available for designated
                    origin/destination pairings&nbsp;</li>
                <li>Additional charges may apply for High Cube containers&nbsp;</li>
            </ul>

            <table cellpadding="1" cellspacing="1" style="width:1000px;">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Container Type</th>
                        <th scope="col">Internal Dimensions<br>
                            (L x W x H)</th>
                        <th scope="col">Door Opening<br>
                            (W x H)</th>
                        <th scope="col">Cubic Capacity</th>
                        <th scope="col">Cargo Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4" style="text-align: center;"><img alt=""
                                src="assets/images/Container/flatrack.jpg"></td>
                        <td style="text-align: center;">20FT Flat Rack<br>
                            with sides</td>
                        <td style="text-align: center;">5.89 x 2.35 x 2.23m</td>
                        <td style="text-align: center;">Side Opening<br>
                            W - 2.59m</td>
                        <td style="text-align: center;">30m³</td>
                        <td style="text-align: center;">26500kgs</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">20FT Flat Rack<br>
                            without sides</td>
                        <td style="text-align: center;">6.00 x 2.35 x 0.23m</td>
                        <td style="text-align: center;">&nbsp;</td>
                        <td style="text-align: center;">33m³&nbsp;<br>
                            Max Height 2.36m</td>
                        <td style="text-align: center;">23500kgs</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">40FT Flat Rack<br>
                            with Sides</td>
                        <td style="text-align: center;">12.05 x 2.35 x 2.23m</td>
                        <td style="text-align: center;">Side Opening<br>
                            W - 11.66m</td>
                        <td style="text-align: center;">63m³</td>
                        <td style="text-align: center;">3600kgs</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">40FT Flat Rack<br>
                            without sides</td>
                        <td style="text-align: center;">12.20 x 2.35 x 0.65m</td>
                        <td style="text-align: center;">&nbsp;</td>
                        <td style="text-align: center;">67m³<br>
                            Max Height 2.36m</td>
                        <td style="text-align: center;">39000kgs</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p><strong>Notes -&nbsp;</strong></p>

            <ul>
                <li>This shipping container is used for over-dimensional (out of gauge) cargo. It is available with or
                    without sides&nbsp;</li>
                <li>Survey reports may be required when shipping out of gauge cargo&nbsp;</li>
                <li>If out of gauge additional surcharges will apply</li>
                <li>Flat Rack containers are subject to availbility and additional surcharges will apply</li>
            </ul>

            <table cellpadding="1" cellspacing="1" style="width:1000px;">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Container Type</th>
                        <th scope="col">Internal Dimensions<br>
                            (L x W x H)</th>
                        <th scope="col">Door Opening<br>
                            (W x H)</th>
                        <th scope="col">Cubic Capacity</th>
                        <th scope="col">Cargo Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="text-align: center;"><img alt=""
                                src="assets/images/Container/OpenTop.jpg"></td>
                        <td style="text-align: center;">20FT Open Top</td>
                        <td style="text-align: center;">5.89 x 2.35 x 2.36m</td>
                        <td style="text-align: center;">2.33 x 2.29m</td>
                        <td style="text-align: center;">32m³</td>
                        <td style="text-align: center;">21700kgs</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">40FT Open Top</td>
                        <td style="text-align: center;">12.05 x 2.35 x 2.36m</td>
                        <td style="text-align: center;">2.33 x 2.29m</td>
                        <td style="text-align: center;">66m³</td>
                        <td style="text-align: center;">26500kgs</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <strong>Notes -&nbsp;</strong>

            <ul>
                <li>Open top containers allow you to load over height cargo or allows easier loading by crane</li>
                <li>If out of gauge additional surcharges will apply</li>
                <li>Open Top containers are subject to availbility and additional surcharges will apply</li>
            </ul>
            &nbsp;

            <table cellpadding="1" cellspacing="1" style="width:1000px;">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Container Type</th>
                        <th scope="col">Internal Dimensions<br>
                            (L x W x H)</th>
                        <th scope="col">Door Opening</th>
                        <th scope="col">Cubic Capacity</th>
                        <th scope="col">Cargo Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="text-align: center;"><img alt=""
                                src="assets/images/Container/ReeferContainer.png"></td>
                        <td style="text-align: center;">20FT Reefer</td>
                        <td style="text-align: center;">5.44 x 2.26 x 2.24m</td>
                        <td style="text-align: center;">2.26 x 2.20m</td>
                        <td style="text-align: center;">27m³</td>
                        <td style="text-align: center;">21700kgs</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">40FT Reefer</td>
                        <td style="text-align: center;">11.55 x 2.26 x 2.24m</td>
                        <td style="text-align: center;">2.26 x 2.20m</td>
                        <td style="text-align: center;">58m³</td>
                        <td style="text-align: center;">25000kgs</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <strong>Notes -</strong>

            <ul>
                <li>Refrigerated shipping containers can be set at a required temperature for the duration of the
                    voyage&nbsp;</li>
                <li>Commonly used for food/dairy products</li>
                <li>The smaller dimensions are due to thicker walls</li>
                <li>Reefer containers are subject to availbility and additional surchrges will apply &nbsp;</li>
            </ul>
        </div>
    </div>
</section>