h3{
    color: rgba(45, 47, 173, 0.918);
  }

  section
  {
    padding-top: 2%;
  }

  .indent{
    text-indent: 3%;
  }

  .container-fluid{
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 2%;
}

table,td, th{
    align-items: center;
    border: 1px solid;
    text-align: center;
}

img
{
    width: 150px;
}