<section style="position: relative;">
    <h3 class="fs-4 mb-2 text-uppercase">Customs Brokerage Service</h3>
    <br>
    <div class="container">
        <div class="layered-image">
        </div>
    </div>
    <br>
    <div class="summary container">
        <p class="inden">World Wide employs a trained staff of Customs Brokers with vast experience handling the
            complex regulations and processes of Customs Border and Protection. World Wide can provide Solution on
            Customs regulations, tariff classifications, tax rates, and general import formalities wherever and whenever
            your cargo arrives in the United States, whether by ocean, air, or land.
        </p>
        <br>
        <h5>Customs Brokerage Service Offered.
        </h5>
        <ul>
            <li>Import Bonds, Continuous or Single Entry, Temporary Bond.</li>
            <li>Experience with government agencies such as APHIS, DOT, EPA, F&W, FCC, FDA & USDA.</li>
            <li>ISF / AMS Filing.</li>
            <li>Anti-dumping/Countervailing Duty.</li>
            <li>Section 232, Section 301, Entry Type 86.</li>
            <li>ATA Carnet.</li>
            <li>Border Crossing – CANADA / MEXICO.</li>
            <li>In-bond shipments.</li>
            <li>ITN AES Filing / RE-EXPORT 7512.</li>
            <li>Formal / Informal entries.</li>
            <li>Quota / IOR SETUP / FDA REG / DUNS #/ IRS APPLY.</li>
        </ul>
    </div>
</section>