/* You can add global styles to this file, and also import other style files */
:root {
    --font-family: 'Segoe UI' ; /* Replace 'Your Font' with your desired font name */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: 'Segoe UI'; }
