
    <!-- Footer -->
    <footer  
            class="text-center text-lg-start text-white"
            style="background-color: #263042 ;position: relative; z-index: 0;"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6271f8"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/worldwide-ocean-and-air-shipping-lines-inc/" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">About Us</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #6271f8; height: 2px"
                  />
              <p>
                Worldwide Ocean & Air Shipping Lines is a freight forwarder and non-vessel operating common carrier (NVOCC).</p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Services</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #6271f8; height: 2px"
                  />
              <p>
                <a routerLink="/AirCargo" class="text-white">Air Freight</a>
              <p>
                <a routerLink="/OceanCargo" class="text-white">Ocean Freight</a>
              </p>
              <p>
                <a routerLink="/Transportation" class="text-white">Transportation</a>
              </p>
              <p>
                <a routerLink="/Warehousing" class="text-white">Warehousing</a>
              </p>
              <p>
                <a routerLink="/Customs" class="text-white">Customs Brokerage</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              
              <!-- Links -->
              <!--<hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #6271f8; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p> -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-3 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #6271f8; height: 2px"
                  />
              <p href="https://maps.app.goo.gl/LAULFZRVMaPBzqNLA">
              <i class="fas fa-home mr-3 h8"></i>  84 Madison AVE Roslyn Heights NY 11577</p>
              <p><i class="fas fa-envelope mr-1"></i>  enquiries&#64;worldwide4shipping.com</p>
              <p><i class="fas fa-phone mr-3"></i>  1-800-327-5252 / +1 (347) 963-0603</p>
              <p><i class="fab fa-whatsapp mr-3"></i>  +1 (516)-226-2083</p>
              <p><i class="fas fa-print mr-3"></i>  +1 (516)-626-3421</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
           Copyright © 2024 Worldwide Ocean And Air Shipping Lines Inc
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  