<section class="" style="position: relative;">
    <div class="container-fluid">
        <div class="imgcontainer">
            <!-- <img class="layered-image" src="assets/images/OceanWp.webp" alt=""> -->
            <h3 class="fs-4 mb-2 text-uppercase text-center">Forms and Documents</h3>
            <h5 class="summary"> Documentation is particularly important because businesses may be forbidden to ship to or receive goods from a particular country. For instance, business owners in the United States are prohibited from shipping goods to Cuba and Iran due to longstanding trade embargoes.
            </h5>
            <br>
            <table>
                <tr>
                    <th>Document Name</th>
                    <th>Description of the Form</th>
                    <th>Download</th>
                </tr>
                <tr>
                    <td>CBP Form 3299</td>
                    <td style="font-size: 10pt; text-align: justify; padding: 1%; text-indent: 30px; max-width: 57vw;">As with everything
                        entering the United States, these items will still be subject to inspection
                        by a CBP officer. Canadians (who live in the United States for parts of the year and known as
                        "snowbirds") must submit a CBP Form 3299 as well, in order to import unaccompanied household
                        effects into the United States.</td>
                    <td><a href="assets/documents/CBP Form 3299.pdf" class="fa-solid fa-download"></a></td>
                </tr>
                <tr>
                    <td>EPA Form 3520</td>
                    <td style="font-size: 10pt; text-align: justify; padding: 1%; text-indent: 30px;"></td>
                    <td><a href="assets/documents/EPA Form 3520-1 Importation of Motor Vehicles or Engines Subject to  Federal Air Pollution Regulations.pdf"
                            class="fa-solid fa-download"></a></td>
                </tr>
                <tr>
                    <td>Supplementory Declaration</td>
                    <td style="font-size: 10pt; text-align: justify; padding: 1%; text-indent: 30px;"></td>
                    <td><a href="assets/documents/SUPPLEMENTARY DEC -.pdf" class="fa-solid fa-download"></a></td>
                </tr>
                <tr>
                    <td>Dot Form HS-7</td>
                    <td style="font-size: 10pt; text-align: justify; padding: 1%; text-indent: 30px;"></td>
                    <td><a href="assets/documents/DOT Form HS-7.pdf" class="fa-solid fa-download"></a></td>
                </tr>
                <tr>
                    <td>ISF Details</td>
                    <td style="font-size: 10pt; text-align: justify; padding: 1%; text-indent: 30px;"></td>
                    <td><a href="assets/documents/BLANK ISF DEATILS WW.xlsx" class="fa-solid fa-download"></a></td>
                </tr>
                <tr>
                    <td>SLI Details</td>
                    <td style="font-size: 10pt; text-align: justify; padding: 1%; text-indent: 30px;"></td>
                    <td><a href="assets/documents/WW SLI.xlsx" class="fa-solid fa-download"></a></td>
                </tr>
            </table>
        </div>
    </div>
</section>