
.card-wrapper {
    display: flex;
}

.card {
    margin: 0.5em;
}

#img
{
    padding-left: 2px;
    width: 100px;
    height: 100px;
}
h3{
    color: rgba(68, 70, 228, 0.918);
  }

.carousel-inner .carousel-item {
    display: flex;
  }

  /* Adjust the width of each carousel item */
  .carousel-item {
    flex: 0 0 25%; /* Adjust as needed for the number of items per slide */
  }

  /* Ensure items are centered within the carousel */
  .carousel-item img {
    margin: auto;
  }