<!-- <p-carousel [value]="images" [numVisible]=5 [numScroll]="1" [circular]="true">
    <ng-template let-image pTemplate="item">
        <img  src="{{image}}" alt="Image">
    </ng-template>
</p-carousel> -->
<!-- 
<div class="carousel">
    <mat-slider [value]="currentSlide" [max]="totalSlides" (input)="setCurrentSlide($event.value)">
      <mat-slide-toggle *ngFor="let slide of slides">
        <img [src]="slide.imageUrl" alt="Slide {{slide.id}}">
        <h3>{{slide.title}}</h3>
        <p>{{slide.description}}</p>
      </mat-slide-toggle>
    </mat-slider>
  </div> -->
<div class="container-fluid">
    <h3 class="fs-4 mb-2 text-uppercase text-center">Licensing Members & Partners</h3>
    <br>
    <div id="multi-item-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <img src="assets/images/Carousal/image1.jpg" class="d-block w-100" alt="Item 1">
                    </div>
                    <div class="col">
                        <img src="assets/images/Carousal/image2.jpg" class="d-block w-100" alt="Item 2">
                    </div>
                    <div class="col">
                        <img src="assets/images/Carousal/image3.jpg" class="d-block w-100" alt="Item 3">
                    </div>
                    <div class="col">
                        <img src="assets/images/Carousal/image4.jpg" class="d-block w-100" alt="Item 3">
                    </div>
                    <div class="col">
                        <img src="assets/images/Carousal/image5.jpg" class="d-block w-100" alt="Item 3">
                    </div>
                    <div class="col">
                        <img src="assets/images/Carousal/image6.jpg" class="d-block w-100" alt="Item 1">
                    </div>
                    <div class="col">
                        <img src="assets/images/Carousal/image7.jpg" class="d-block w-100" alt="Item 2">
                    </div>
                    <div class="col">
                        <img src="assets/images/Carousal/image8.jpg" class="d-block w-100" alt="Item 3">
                    </div>
                    <div class="col">
                        <img src="assets/images/Carousal/image11.png" class="d-block w-100" alt="Item 3">
                    </div>
                    <!-- Add more carousel items here -->
                </div>
            </div>
        </div>
    </div>
</div>
<br>